*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Georgia", sans-serif;
}
.email {
  min-height: 97vh;
  background: #8d0020;
  padding-bottom: 50px;
}
.logo {
  display: flex;
  // align-items: center;
  // justify-content: center;
  margin-bottom: 30px;
  img {
    height: 90px;
    margin: auto;
  }
}

.order-confirmation {

  max-width: 650px;
  margin: 20px auto 0 auto;
  padding: 1rem;

  // display: flex;
  // flex-flow: column wrap;
  // align-items: center;

  // background: #fff;
  border-radius: 10px;
  /* position: relative; */
  background-image: url("https://static.panaya.in/static/mail/images/bg.png");
  background-size: contain;
  // background-repeat: repeat-y;
  h3 {
    width: fit-content;
    color: #8d0020;
    margin: auto;
  }
  hr {
    background: rgba(0, 0, 0, 0.26);
    width: 90%;
  }
}
.green-tick {
  margin: 20px 0 20px 0;
  // color: #219653;
  // font-size: 56px;
  width: 100%;
  display: flex;
  align-items: center;
  img{
    width: 2rem;
    height: auto;
    margin: auto;
  }
}
.mail-text {
  width: 90%;
  margin: 50px 0 50px 0;
  text-align: left;
}
.ordered-item {
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  margin: 0 0 30px 0;

  img {
    width: 90px;
    height: auto;
  }
  .item-detail {
    margin-left: 20px;
    font-family: Georgia;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
  }
}
.thank-you-text {
  margin-bottom: 50px;
  text-align: left;
  width: 90%;
  font-family: Georgia;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  text-align: left;
}
a{
  text-decoration: none;
}
.thank-you-text a{
    color: #8D0020;
}
.track-your-order{
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: fit-content;
  color: #fff;
  background: #8d0020;
  padding: 20px 80px;
  border-radius: 20px;
}

.footer{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    /* margin-bottom: 200px; */
    position: relative;
  .links {
    display: flex;
    margin: auto;
    a{
      margin: 10px 10px 10px 10px;
      color: #8d0020;
      // width: 90%;
      display: flex;
      /* flex-flow: column wrap; */
      gap: 1;
      align-items: center;
    }
  }
}
.footer-subscribe{
  height: 200px;
}
.subscribe{
  img{  
    // background-color: #ffce76;
  }
}
/* .logo.subscribe{ */
  /* position: absolute; */
  /* bottom: 20px; */
  /* left: 40px; */
/* } */
//  @media screen and (min-width:500px){
//     .order-confirmation {
//         margin: 20px 50px 0 50px;
//       }
//     .a-links{
//         margin-left: 60px;
//         flex-flow: row wrap;
//         justify-content: center;
//     }
//     .ordered-item {
//         width: 90%;
//         display: flex;
//         flex-flow: row wrap;
//         margin: 0 0 30px 0;
//       }
//       .ordered-item img {
//         height: 300px;
//         width: auto;
//       }
// }
// @media screen and (min-width:1000px) {
//     .track-your-order{
//         padding: 40px 100px;
//         font-size: 25px;
//     }
//     div.links{
//         justify-content: space-between;
//     }
//     div.space{
//         height: 100px;
//         width: 1000px;
//         display: block;
//     }
//     .a-links{
//         margin-left: 60px;
//         flex-flow: row wrap;
//         justify-content: left;
//     }
//     .footer .logo{
//         top: 0;
//     }
// }
// @media screen and (min-width:1200px){
    
// } 