@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Header Part */
header{
    background: url('/static/pages_static/images/about/nav bg.png');
    color: #fff;
    padding: 20px;
    font-size: 1.2rem;
}

h2{
    color: #670017;
}

#nav{
    padding-bottom: 0;
}

nav a{
    text-decoration: none;
    color:#ffe65c;
    margin-bottom: 1%;
    margin-top: 7%;
}

a:hover{
    color: rgb(224, 188, 27);
}

nav div{
    width: 33%;
    display: flex;
    margin: 0 10px;
}

.middle{
    color: #FFCE76;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.middle h2{
    color: #FFCE76;
    font-family: 'Playfair Display', serif;
    font-size: 3.5rem;
}

.middle p{
    font-family: 'Corinthia', cursive;
    font-size: 1.5rem;
}

.col-nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Main Body Part */
.story{
    font-family: 'Playfair Display', serif;
}

#story-header{
    font-size: 2.5em;
    font-weight: bold;
    margin: 2%;
    text-align: center;
}
p{
    text-align: center;
}

.about-image-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-1-3{
    padding: 4%;
    background: url("/static/pages_static/images/about/a_pg_bg.png");
}

#about-image{
    padding: 5%;
    width: 90%;
}

.align-center1{
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.award-container{
    padding: 1%;
}

.text{
    font-size: 1.2em;
    padding: 5%;
}

.award-image{
    width: 80%;
}

.col-text{
    font-size: 1.4em;
    padding: 5%;
    text-align: center;
    display: flex;
    align-items: center;
}

.section-2-4{
    padding: 4%;
    background: url("/static/pages_static/images/about/golden_leaves.png");
}

.boat-image{
    padding: 0 5%;
    width: 100%;
}

.women-image{
    padding: 2% 4%;
}

.vector {
    position: relative;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
}

.vector img{
    width: 100%;
}

#text-1 {
    position: absolute;
    text-align: center;
    color: #FFCE76;
    bottom: 0;
    height: 60%;
}

#text-2{
    position: absolute;
    text-align: center;
    color: #BA002A;
    bottom: 0;
    height: 50%;
}

#text-3{
    position: absolute;
    text-align: center;
    color: #FFCE76;
    bottom: 0;
    height: 50%;
}

#section-4{
    padding: 0;
}

#man-image{
    display: flex;
    width: 100%;
    align-items: center;
}

#wrapper-image{
    margin: 0 3%;
}

.section-heading{
    background: url('/static/pages_static/images/section-heading-bg.png');
    margin: 0;
    padding: 0;
}

#post h1{
    font-size: 2rem;
    padding: 1%;
}

#post h5{
    padding-bottom: 1%;
}

#blog-image{
    width: 100%;
    max-width: 100%;
}

#blog-image img{
    width: 70%;
}

#blog-text{
    padding: 4%;
}

#blog-like-comment-post{
    display: flex;
    justify-content: space-between;
    margin: 0 5%;
}

#blog-like-comment{
    display: flex;
    justify-content: left;
}

#all-comments{
    display: flex;
    flex-direction: column;
}

.blog-icons{
    margin: 0 2%;
    color: #F49D37;
}

#other-blogs{
    margin: 5% auto;
}

.other-blogs{
    padding: 1%;
}

.other-blogs:hover{
    transform: scale(1.1);
    transition: transform 0.3s;
}

.other-blogs img{
    width: 100%;
    max-height: 20vh;
}

.other-blogs-wrapper{
    /* border shadow */
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
}

.other-blogs-text-wrapper{
    padding: 3% 5%;
}

.title{
    font-size: 1.4rem;
    font-weight: bold;
    margin: 2% 0;
}

.date-view{
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    padding: 2% 0; 
}

.other-blogs-text{
    font-size: 1rem;
    font-weight: 600;
}

.blog-read-button{
    color: rgb(65, 65, 65);
    padding: 0 1%;
    font-weight: 400;
}

@media screen and (max-width: 768px){
    .other-blogs{
        width: 70%;
        margin: 0 auto;
    }
    #blog-like-comment{
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
    }
    #blog-like-comment-post{
        flex-direction: column;
    }
    #post-button-btn{
        margin: 0 auto;
    }
}

.style-button {
    color: #888;
    font-family: "Heebo", sans-serif;
    background-color: transparent;
    border: 0.1em solid;
    border-radius: 1em;
    padding: 0.333em 1em 0.25em;
    line-height: 1.2em;
    box-shadow: 0 0.25em 1em -0.25em;
    cursor: pointer;
    transition: color 150ms ease-in-out, background-color 150ms ease-in-out, transform 150ms ease-in-out;
    outline: 0;
    margin: 0 1%;
    width: 17ch;
    height: 7vh;
}
.style-button:hover {
    color: #F49D37;
}
.style-button:active {
    transform: scale(0.95);
}
.style-button.selected {
    color: #FFF;
    background-color: #F49D37;
    border-color: #F49D37;
}
.style-button .heart-icon {
    display: inline-block;
    fill: currentColor;
    width: 0.8em;
    height: 0.8em;
    margin-right: 0.2em;
}

#post-button-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Footer */
footer{
    background: #8D0020;
    color: #FFCE76;
    padding: 3%;
}
footer a{
    text-decoration: none;
    color: #FFCE76;
    display: flex;
}

.footer-left{
    margin-top: 11%;
    padding: 1%;
}

.icons{
    height: 20px;
    width: 20px;
}

.footer-about{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
}

footer h2{
    color: #FFCE76;
}

.btn-warning{
    color: #8D0020;
    background-color: #FFCE76;
}