@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Corinthia:wght@700&display=swap");
.styled-btn-outline {
  border: 4px solid #ffce76;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15.2381px;
  font-family: Alegreya;
  font-style: normal;
  font-weight: bold;
  padding: 1rem 2rem;
  /* identical to box height */
  text-align: center;
  color: rgba(255, 206, 118, 0.86);
  background-color: transparent;
}

.row{
  width: 100%;
}
.st-btn-outline-red {
  border: 3px solid #8d0020;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 9px;
  padding: 1rem 2rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  /* identical to box height */
  color: #8d0020;
}

.styled-btn-filled {
  background: #8d0020;
  border: 1.36732px solid #8d0020;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5.20882px;
  padding: 1rem 2rem;
  font-family: Alegreya;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  color: rgba(255, 206, 118, 0.86);
}

.st-btn-fill-yellow {
  background: rgba(255, 206, 118, 0.86);
  border: 1.36732px solid rgba(255, 206, 118, 0.86);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5.20882px;
  padding: 1rem 2rem;
  font-family: Alegreya;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  color: #8d0020;
}

.flip-horizontal {
  -webkit-transform: scale(-1);
  transform: scale(-1);
}

.text-sp-red {
  color: #8d0020;
}

.section-heading {
  text-align: center;
  color: #8d0020;
  background-color: #ffce76;
  background-image: url("/static/pages_static/images/section-heading-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stars .stars-pos {
  color: #5ac705;
}

.stars .stars-neg {
  color: #f0f0f0;
}

.usr-img {
  background: #f49d37;
  border-radius: 50%;
  height: 2.3rem;
  width: 2.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.overlay-container {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: 100%;
}

.overlay-container .overlay-text {
  position: absolute;
  bottom: 0;
}

.overlay-container .overlay-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.overlay-container .overlay-bottom {
  position: absolute;
  top: calc(100% - 1rem);
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
}

.overlay-shopnow {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0)), color-stop(97%, rgba(141, 0, 32, 0.7)), to(rgba(141, 0, 32, 0.9)));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, rgba(141, 0, 32, 0.7) 97%, rgba(141, 0, 32, 0.9) 100%);
}

.overlay-shopnow .overlay-shopnow-btn {
  background: #ffce76;
  border-radius: 6.336px;
  padding: 0.6rem 1rem;
  color: #8d0020;
  font-size: 1.5rem;
}

.cursor-pointer {
  cursor: pointer;
}

.pagination {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination .page-link {
  color: grey;
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
}

.pagination .active {
  color: #8d0020;
  font-size: 2.2rem;
}

/* Header Part */
header {
  background: url("/static/pages_static/images/about/nav bg.png");
  color: #fff;
  padding: 20px;
  font-size: 1.2rem;
}

header #nav {
  padding-bottom: 0;
}

header nav a {
  text-decoration: none;
  color: #ffe65c;
  margin-bottom: 1%;
  margin-top: 7%;
}

header nav div {
  width: 33%;
  display: flex;
  margin: 0 10px;
  justify-content: space-evenly;
}

/* Footer */
footer {
  background: #8d0020;
  color: #ffce76;
  padding: 3%;
}

footer a {
  text-decoration: none;
  color: #ffce76;
  display: flex;
}

footer .footer-left {
  margin-top: 11%;
  padding: 1%;
}

footer .icons {
  height: 20px;
  width: 20px;
}

footer .footer-about {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
}

header .middle,
footer .middle {
  color: #ffce76;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .middle h2,
footer .middle h2 {
  color: #ffce76;
  font-family: "Playfair Display", serif;
  font-size: 3.5rem;
}

header .middle p,
footer .middle p {
  font-family: "Corinthia", cursive;
  font-size: 1.5rem;
}

header h2,
footer h2 {
  color: #ffce76;
}

header a:hover,
footer a:hover {
  color: #e0bc1b;
}

.btn-warning {
  color: #8d0020;
  background-color: #ffce76;
}

#banaras-store {
  background-image: url("/static/pages_static/images/index/Rectangle 66.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.explore-banaras {
  background-image: url("/static/pages_static/images/index/explore-banaras-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#heirlooms {
  width: 100%;
  background-image: url("/static/pages_static/images/index/heirloom-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0%;
}

.col-nav{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mob_view{
  display: none !important;
}
.hamburger {
  display: none;
  position: absolute !important;
  float: right;
  top: 0;
  margin-right: 20px;
  right: 0;
  margin-top: 20px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #ffce76;
}
.mnav{
  display: none;
}
.logos{
  display: flex;
  justify-content: space-between;
  width: 20%;
}
#pop_up{
  display: none;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100vh;
  align-items: center;
}
#pop_up.active{
  display: flex;
}
.p_cont{
  background: #8d0020;
  padding: 5%;
  color: white;
  width : 40%;
  margin: auto;
}
.cross{
  float: right;
  color: #ffce76;
  font-size: 30px;
  font-weight: bolder;
  margin-top: -10%;
  cursor: pointer;
}
.p_cont label {
  color: #ffce76;
  font-size: 20px;
  font-weight: bold;
}
.sub_btn {
  border: none;
  background: #ffce76;
}
.nav_items{
    color: #8d0020 !important;
    background: #ffe65c;
    border-radius: 10px;
    padding: 1.9%;
}

.e_name{
  font-family: Analogue;
  font-style: normal;
  font-weight: normal;
}
.h_underline{
  text-decoration: underline solid #000000;
}
.story{
  font-family: Analogue;
  font-style: normal;
  font-weight: normal;
  font-size: 25.1437px;
  line-height: 34px;
  text-align: center;
  color: #000000;
}
.story_img{
  border-radius: 50%;
  width: 140px;
  height: 140px;
  transform: translateX(-3px);
}
.story_btn{
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background: linear-gradient(318.05deg, #DA8741 9.88%, #A83279 51.33%, #7723BE 82.94%);;
}
.story_div{
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin: auto;
}
.hover_part1 , .hover_part2 , .hover_part3 ,.hover_part4 {
  display: none;
}
.hov1:hover + .hover_part1 , .hov2:hover + .hover_part2 , .hov3:hover + .hover_part3 , .hov4:hover + .hover_part4 {
  display: flex;
  position: absolute;
  background: url(/static/pages_static/images/index/instagram.svg);
  width: 100%;
  bottom: 0;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #00000082;
}
a.nav-item {
    font-family: Alegreya;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: rgba(255, 206, 118, 0.86);
}
/*# sourceMappingURL=styles.css.map */

@media only screen and (max-width: 700px) {
  header{
    background: none;
    padding: inherit;
  }
  .desk_view{
    display: none !important;
  }
  .mob_view{
    display: block !important;
    text-align: center;
    padding-bottom: 2%;
    background-color: #8d0020;
  }
  .panaya{
    color: #ffce76;
    font-family: "Playfair Display", serif;
    font-size: 2rem;
  }
  .panaya_d{
    font-family: "Corinthia", cursive;
    font-size: 1.0rem;
    color: #ffce76;
  }
  header nav div{
    width: 100%;
  }
  .hamburger{
    display: block;
    cursor: pointer;
    width: auto !important;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
  }
  .mnav.active{
    display: block;
    width: auto;
  }
  .logos{
    width: 30%;
  }
  .p_cont{
    width: 90%;
  }
  .p_cont input {
    width: -webkit-fill-available;
  }
  .cross{
    margin-top: -4%;
    font-size: 25px;
  }
  .story_div{
    width: 100%;
  }
  .story_btn{
    width: 100px;
    height: 100px;
  }
  .story_img{
    width: 90px;
    height: 90px;
  }
  a.nav-item {
    font-size: 20px;
    line-height: 20px;
  }
}

@media only screen and (min-width: 700px) and (max-width: 900px) {
  header nav a {
    font-size: 15px !important;
  }
  header nav div{
    width: 30%;
  }
  .mail_input{
    font-size: 8px;
  }
}