@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Corinthia:wght@700&display=swap");

// common utilities
.styled-btn-outline {
  border: 4px solid #ffce76;
  box-sizing: border-box;
  border-radius: 15.2381px;

  font-family: Alegreya;
  font-style: normal;
  font-weight: bold;

  padding: 1rem 2rem;

  /* identical to box height */
  text-align: center;

  color: rgba(255, 206, 118, 0.86);
  background-color: transparent;
}

.st-btn-outline-red {
  border: 3px solid #8d0020;
  box-sizing: border-box;
  border-radius: 9px;

  padding: 1rem 2rem;

  font-family: Poppins;
  font-style: normal;
  font-weight: bold;

  /* identical to box height */

  color: #8d0020;
}

.styled-btn-filled {
  background: #8d0020;
  border: 1.36732px solid #8d0020;
  box-sizing: border-box;
  border-radius: 5.20882px;

  padding: 1rem 2rem;

  font-family: Alegreya;
  font-style: normal;
  font-weight: bold;
  text-align: center;

  color: rgba(255, 206, 118, 0.86);
}

.st-btn-fill-yellow {
  background: rgba(255, 206, 118, 0.86);
  border: 1.36732px solid rgba(255, 206, 118, 0.86);
  box-sizing: border-box;
  border-radius: 5.20882px;

  padding: 1rem 2rem;

  font-family: Alegreya;
  font-style: normal;
  font-weight: bold;
  text-align: center;

  color: #8d0020;
}

.flip-horizontal {
  -webkit-transform: scale(-1);
  transform: scale(-1);
}

.text-sp-red {
  color: rgba(141, 0, 32, 1);
}

.section-heading {
  text-align: center;
  color: rgba(141, 0, 32, 1);
  background-color: #ffce76;
  background-image: url("/static/pages_static/images/section-heading-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.stars {
  display: flex;

  .stars-pos {
    color: #5ac705;
  }

  .stars-neg {
    color: #f0f0f0;
  }
}

.usr-img {
  background: #f49d37;
  border-radius: 50%;
  height: 2.3rem;
  width: 2.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-container {
  position: relative;
  height: fit-content;
  width: fit-content;

  .overlay-text {
    position: absolute;
    bottom: 0;
  }

  .overlay-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .overlay-bottom {
    position: absolute;
    top: calc(100% - 1rem);
    left: 50%;
    transform: translate(-50%, -100%);
    // margin-bottom: 1rem;
  }

  // top: 50%;
}

.overlay-shopnow {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 50%,
    rgba(141, 0, 32, 0.7) 97%,
    rgba(141, 0, 32, 0.9) 100%
  );

  .overlay-shopnow-btn {
    background: #ffce76;
    border-radius: 6.336px;
    padding: 0.6rem 1rem;
    color: #8d0020;
    font-size: 1.5rem;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.pagination {
  align-items: center;
  justify-content: center;

  .page-link {
    color: grey;
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
  }

  .active {
    color: #8d0020;
    font-size: 2.2rem;
  }
}

// header
/* Header Part */
header {
  background: url("/static/pages_static/images/about/nav bg.png");
  color: #fff;
  padding: 20px;
  font-size: 1.2rem;

  #nav {
    padding-bottom: 0;
  }

  nav a {
    text-decoration: none;
    color: #ffe65c;
    padding: 0 9%;
    margin-bottom: 1%;
    margin-top: 7%;
  }

  nav div {
    width: 33%;
    display: flex;
    margin: 0 10px;
  }
}

/* Footer */
footer {
  background: #8d0020;
  color: #ffce76;
  padding: 3%;

  a {
    text-decoration: none;
    color: #ffce76;
  }

  .footer-left {
    margin-top: 11%;
    padding: 1%;
  }

  .icons {
    height: 20px;
    width: 20px;
  }

  .footer-about {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
  }
}

header,
footer {
  .middle {
    color: #ffce76;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      color: #ffce76;
      font-family: "Playfair Display", serif;
      font-size: 3.5rem;
    }

    p {
      font-family: "Corinthia", cursive;
      font-size: 1.5rem;
    }
  }

  h2 {
    color: #ffce76;
  }

  a:hover {
    color: rgb(224, 188, 27);
  }
}

.btn-warning {
  color: #8d0020;
  background-color: #ffce76;
}

// specifice styles
#banaras-store {
  background-image: url("/static/pages_static/images/index/Rectangle\ 66.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 50rem;
}

#explore-banaras {
  background-image: url("/static/pages_static/images/index/explore-banaras-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#heirlooms {
  width: 100vw;
  background-image: url("/static/pages_static/images/index/heirloom-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0%;
}
