{% extends 'base_user.html' %}

{% block title %}
Forgot password
{% endblock title %}

{% block body %}
<div class="sign-in-form" style="margin-top: 15%;"> 
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method='post'>
        {% csrf_token %}
        <div class="form-group">
            <h2 style="font-size:30px; margin: 2%;">Please enter your E-mail address.</h2>
        </div>
        <input type="text" class='entry' name="email" id="email" class="form-control" placeholder="Email">
        <button type="submit" class="continue">Continue</button>
    </form>
</div>
{% endblock body %}
