{% extends 'base_user.html' %}
{% load static %}
{% load socialaccount %}

{% block title %}
Sign in
{% endblock title %}
{% block css %}
    <style>
        #buttons a{
            text-decoration: none;
            color: #fff;
        }
    </style>
{% endblock css %}

{% block body %}
    <div class="sign-in-form">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form method='post'>
        {% csrf_token %}
        <h1>Sign in</h1>
        <p>New user ? <a href="{% url 'signup' %}">Create an Account</a></p>
        
        <input type="email" placeholder="Enter your Email Address" name="email" class='entry' required>
        <input type="password" placeholder="Enter Password" name='password' class='entry' required >
        <div id='buttons'>
            <button type="submit" class="continue"><a href="{% url 'forgot_password' %}">Forgot Password?</a></button>
            <button type="submit" class="continue">Continue</button>
        </div>
        </form>
        <hr>
        <p class="or"> or </p>
        <form action="{% provider_login_url 'google' %}" method='post'>
            {% csrf_token %}
            <button type="submit" id="signup-google" class="signup-google" ><i class="fab fa-google"></i>
                Continue with Google</button>
        </form>
        <form action="{% provider_login_url 'facebook' method='oauth2' %}" method='post'>
            {% csrf_token %}
            <button type="submit" id="signup-facebook" class="signup-facebook"><i class="fab fa-facebook-f"></i> 
                Continue with Facebook</button>
        </form>
        {% comment %} <button type="button" id="signup-apple" class="signup-apple"> <i class="fab fa-apple"></i> Continue with Apple</button> {% endcomment %}

        
    </div>
{% endblock %}