{% extends 'base.html' %}
{% load static %}

{% block title %}
My Order Details
{% endblock title %}

{% block css %}
<link href="{% static 'user_manager/css/order_details.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .name{
            font-size: 1.5rem;
            color: #ffce76;
            font-family: "Playfair Display", serif;
            line-height: normal;
        }
        .share{
            font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 25px;
            line-height: 54px;
            color: #8D0020;
        }
        .satisfied{
            font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 22px;
            line-height: 45px;
            color: rgba(0, 0, 0, 0.71);
        }
        .emoji{
            border: none;
            background: transparent;
            font-size: 35px;
        }

        .feedback_input{
            height: 200px;
            width: 80%;
            margin: auto;
            border: none;
        }
        .feedback_btn{
                background: #8D0020;
                color: #F49D37;
                border: none;
                border-radius: 10px;
                max-width: 50%;
                margin: auto;
                font-size: 16px;
        }
        .feedback_btn_popup{
            background: #8D0020;
            color: #F49D37;
            border: none;
            border-radius: 10px;
            margin: 0 20%;
            font-size: 16px;
        }
        .cross {
            float: right;
            color: #ffce76;
            font-size: 30px;
            font-weight: bolder;
            margin-top: -10%;
            cursor: pointer;
        }
        .emoji-check{
            position: absolute;
            opacity: 0;
            width: 0;
        }
        @media only screen and (max-width: 700px) {
            .emoji , .share{
                font-size : 20px;
            }
            .satisfied{
                font-size:18px;
            }
        }    

    </style>
{% endblock css %}

{% block body %}

<body style="background: #FFEFD1;">
    <div id="feedback" style="display: none;
    position: fixed;
    z-index: 999;
    width: 80%;
    text-align: center;
    margin-left: 10%;
    align-items: center; top:5%;">
         <div class="container text-center" style="background: #FFEFD1;">
        <div class="cross" onclick="closeFeedback()" style="transform: rotate(45deg); margin-top : 0% !important ; color: #8d0020;">+</div>
        <div class='text-center'>
            <img src="/assets/img/crown.png" alt="" style="width: 200px;">
            <h2 class="name">PANAYA</h2>
            <p style="font-family: 'Corinthia' , cursive; font-size: 1.5rem; color: #ffce76;">The Heritage Collection</p>
        </div>
        <div class="container">
            <div class="share mt-3">SHARE YOUR FEEDBACK</div>
            <div class="satisfied mt-3">How Satisfied are you with panaya</div>
            <form action="{% url 'feedback_product' %}" method='post'>
                <div class="mt-1">
                    <input type="radio" class="emoji-check" id='1' name="feedback" value="1">
                    <label  class='emoji' onclick="alert('😞');" for="1">😞</label>
                    <input type="radio" class="emoji-check" id='2' name="feedback" value="2">
                    <label class='emoji' onclick="alert('🙁');" for="2">🙁</label>
                    <input type="radio" class="emoji-check" id='3' name="feedback" value="3">
                    <label class='emoji' onclick="alert('😐');" for="3">😐</label>
                    <input type="radio" class="emoji-check" id='4' name="feedback" value="4">
                    <label class='emoji' onclick="alert('🙂');" for="4">🙂</label>
                    <input type="radio" class="emoji-check" id='5' name="feedback" value="5">
                    <label class='emoji' onclick="alert('😀');" for="5">😀</label>
                </div>
                <div class="mt-3 mb-3" id='feedback-input'>
                    <input class="feedback_input" name='text' type="text" id='feedback_text' value="write a feedback">
                </div>
                <div class="mt-5 pb-5">
                    <button id='send-feedback-button' class="feedback_btn_popup" onclick="alert('Thanks for the feedback!');">Send Feedback</button>
                </div>
            </form>
        </div>
    </div>
    </div>
    <div class="path mx-2">
        <a href="{% url 'index' %}">Home</a>
         > <a href="{% url 'profile' %}">My Account</a>
         > <a href="{% url 'orders_tracking' %}">My Orders</a>
         > {{ order.id }} </div>

    <div class="add_container bg-light">
        <div class="d_address pt-3">Delivery Address</div>
        <div class="d_name mt-3">{{ order.address.fname }} {{ order.address.lname }}</div>
        <div class="d_details mt-3">
            <p>{{ order.address }}</p>
            <p>{{ order.city }}, {{ order.postal_code }}</p>
            <p>{{ order.country }}</p>
        </div>
        <div class="mt-3"><span class="d_name">Phone No </span>
            <span class="ph_details mx-2">{{ order.user.phone_number }}</span></div>
    </div>
    <div class="add_container bg-light mt-5 mb-5">
        <div class="row">
            <div class="col-sm-6">
                <div class="row mt-5 align-items-center">
                    {% for order_item in order.items.all %}
                            <div class="col-4">
                                {% for img in order_item.product.images.all|slice:":1" %}
                                    <div class="p_img" style="background-image: url('{{img}}');"></div>
                                {% endfor %}
                            </div>
                            <div class="col-8">
                                <div class="d_name"><strong>{{ order_item.product.name }}</strong></div>
                                <div class="size">Size - 2 L</div>
                                <div class="size">Seller- Courier</div>
                                <div class="size">Quantity: {{ order_item.quantity }}</div>
                                <div class="price">	&#8377; {{ order_item.price }}</div>
                                {% comment %} <div class='size'>Rate Us</div> {% endcomment %}
                            </div>
                            <button class="mt-5 feedback_btn" onclick="giveFeedback('{{ order_item.product.id }}', '{{ order.id }}')">Give feedback</button>
                    {% endfor %}
                </div>
                <div class="mt-3 policy">
                    <span class="rate"><img src="/assets/img/productImages/Star 3.svg" width="12px" alt="">Rate , Review
                        Product</span>
                    <span class="rate" style="margin-left: 5%;">Return policy ended on Jul 2021</span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="text-center d_name mt-1 mb-2">Order Tracking</div>
                <div>
                    <span class="dot done1"></span>
                    <div class="tra_box done3">
                        <div class="t_name done">Ordered</div>
                        <div class="t_summary">{{ order.created }}</div>
                    </div>
                </div>
                <div>
                    <span class="dot" id='ship-dot'></span>
                    <div class="tra_box" id='ship-line'>
                        <div class="t_name" id='ship-name'>Shipped</div>
                        <div class="t_summary" id='shipped'>
                        </div>
                    </div>
                </div>
                <div>
                    <span class="dot" id='out-dot'></span>
                    <div class="tra_box" id='out-line'>
                        <div class="t_name" id='out-name'>Out for Delivery</div>
                        <div class="t_summary" id="out-for-delivery"></div>
                    </div>
                </div>
                <div>
                    <span class="dot" id='delivery-dot'></span>
                    <div class="tra_box" id='delivery-line'>
                        <div class="t_name" id='delivery-name'>Delivered</div>
                        <div class="t_summary" id='delivered'></div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="add_container bg-light">
        <div class="d_address pt-3">Payment Details</div>
        {% if order.paid %}
            <div class="d_name mt-3">Order ID: {{ order.razorpay_order_id }}</div>
            <div class="d_details mt-3">
                <p>Payment Date and Time: {{ order.transactions.timestamp }}</p>
                <p>Coupon: 
                    {% if order.coupon %}
                        {{ order.coupon }}
                    {% else %}
                        Coupon Not Applied.
                    {% endif %}
                </p>
                {% if order.coupon %}
                <p>Discount: &#8377; {{ order.discount }}</p>
                {% endif %}
            </div>
        {% else %}
        Not Paid
        {% endif %}
    </div>
    
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script>
    const feedback = document.getElementById('feedback')
    function giveFeedback(product_id, order_id) {
        feedback.style.display = 'block';
        $('#feedback-input').append(`<input type="hidden" id='product_id' name="product_id" value="`+ product_id +`">`);
        $('#feedback-input').append(`<input type="hidden" id='order_id' name="order_id" value="`+ order_id +`">`);
    }
    function closeFeedback(){
        feedback.style.display = 'none';
    }
{% comment %} 
    $('#send-feedback-button').click(function(e){
        e.preventDefault();
        feedback = document.querySelector('input[name="feedback"]:checked').value;
        feedback_text = $('#feedback_text').val();
        product_id = $('#product_id').val();
        $.ajax({
            url: "{% url 'feedback_product' %}",
            type: "POST",
            data: {
                'feedback': feedback,
                'text': feedback_text,
                'product_id': product_id
            },
            success: function(response) {
                if (response == 200) {
                    alert("Thanks for the feedback!");
                } else {
                    alert('Error in sending feedback');
                }
            },
            error: function(response) {
                alert('Error in sending feedback');
            }
        });
    }) {% endcomment %}

    $(document).ready(function(){
        $.ajax({
            url: "{% url 'get_order_tracking' order.id %}",
            type: "GET",
            success: function(response) {
                var res = JSON.parse(response);
            },
            error: function(response) {
                alert("Failed to fetch tracking data.");
            }
        }).then(function(response){
            var res = JSON.parse(response);
            var scans = res.tracking_data.shipment_track_activities;
            // console.log(scans);
            if(scans.length == 0){
                console.log('No Shipment Found');
            }
            else{
                $('#ship-dot').addClass('done1');
                $('#ship-line').addClass('done3');
                $('#ship-name').addClass('done');
                for (var i = scans.length - 1; i >= -1; i--) {
                    var scan = scans[i];
                    var activity = scan.activity;
                    var date = scan.date;
                    var status = scan["sr-status"];
                    if(status === "7"){
                        $('#delivery-dot').addClass('done1');
                        $('#delivery-line').addClass('done3');
                        $('#delivery-name').addClass('done');
                        $('#delivered').append(date + ' - DELIVERED');
                        break;
                    }
                    if(status === "17"){
                        $('#out-dot').addClass('done1');
                        $('#out-line').addClass('done3');
                        $('#out-name').addClass('done');
                        $('#out-for-delivery').append(date + " - OUT FOR DELIVERY");
                    }
                    var location = scan.location;
                    var html = `<div>${date} - ${activity} AT ${location}</div>`;
                    $('#shipped').append(html);
                }
            }
        });
    });

</script>
{% endblock body %}
