{% extends 'base_user.html' %}
{% load static %}


{% block title %}
Sign-up
{% endblock title %}

{% block body %}

<div class="sign-in-form">
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method='post'>
        {% csrf_token %}
        <h1>Sign in</h1>
        <p>Already a user? <a href="{% url 'login' %}">Log-in here</a></p>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class='entry' name="email" id="email" class="form-control" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class='entry' name="password" id="password" class="form-control" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="password2">Again Password</label>
            <input type="password" class='entry' name="password2" id="password2" class="form-control" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="first_name">First Name</label>
            <input type="text" class='entry' name="first_name" id="first_name" class="form-control" placeholder="First Name">    
        </div>
        <div class="form-group">
            <label for="last_name">Last Name</label>
            <input type="text" class='entry' name="last_name" id="last_name" class="form-control" placeholder="Last Name">
        </div>
        <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text" class='entry' name="phone" id="phone" class="form-control" placeholder="Phone">
        </div>
        <div class='form-group'>
            <label for="date_of_birth">Date of Birth</label>
            <input type="date" class='entry' name="date_of_birth" id="date_of_birth" class="form-control" placeholder="Date of Birth">
        </div>
        <button type="submit" class="continue">Continue</button>
    </form>
</div>
{% endblock body %}
