{% extends 'base.html' %} 
{% load static %} 
{% block title %}
    Payment Gateway
{% endblock title %} 
{% block css %}
    <link rel="stylesheet" href="{% static 'payment/css/gateway.css' %}">
{% endblock css %} 
{% block body %}
    <div class="prod_sec_header">
        <div class="head_top"></div>
        <div class="header">Customert Details, Order Summery and Payment Getway</div>
        <div class="head_bottom"></div>
    </div>
    <div class="container mt-5">
        <img class="edit" src="/assets/img/edit.svg" alt="">
        <div class="main">1. LOGIN <img class="check" src="/assets/img/check.svg" alt=""></div>
        <div class="details pb-5">
            <div><span class="ans ms-3">{{user.get_full_name}}</span><span class="ms-3">{{user.email}}</span></div>
        </div>
    </div>
    <div class="container mt-5">
        <img class="edit" src="/assets/img/edit.svg" alt="">
        <div class="main">2. DELIVERY  ADDRESS </div>
        <div class="details pb-5">
            <div><span class="ans ms-3">Pooja Gaikwad</span><span class="ms-3">Kundra Housing Society  Baner,Pune,Maharashtra Pune-411003 9875325457</span></div>
        </div>
        <div class="details pb-5">
            <div class="signIn mt-1">
                <a class="link-danger" href="{% url 'order_add_address' %}" >add address </a>
            </div> 
            <a href="{% url 'order_order_details' %}" class="btn continue mt-2">Delivery to this Address</a>
        </div>
    </div>
    <div class="container mt-5">
        <div class="main"><img src="/assets/img/plus.svg" alt="" class="check"> ADD ADDRESS </div>
    </div>
    <div class="container mt-5">
        <div class="main">3. ORDER DETAILS </div>
    </div>
    <div class="container mt-5 mb-5">
        <div class="main">4. PAYMENT DETAILS </div>
    </div>
{% endblock %}