{% extends 'base.html' %}
{% load static %}
{% block title %}
Payment Gateway
{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'payment/css/gateway.css' %}">
{% endblock css %}
{% block body %}
{% comment %} page heading {% endcomment %}
<div class="prod_sec_header">
    <div class="head_top"></div>
    <div class="header">Customer Details, Order Summary and Payment Gateway</div>
    <div class="head_bottom"></div>
</div>

{% comment %} user details {% endcomment %}
<div class="container mt-5">
    <img class="edit" src="/assets/img/edit.svg" alt="">
    <div class="main">1. LOGIN </div>
    <div class="details pb-5">
        <div><span class="q">Name</span><span class="ans ms-3">{{user.get_full_name}}</span></div>
        <div><span class="q">Email</span><span class="ans ms-3">{{user.email}}</span></div>
        <div class="signIn mt-1">
            <a class="link-danger" href="{% url 'logout' %}">logout and signin into another account </a>
        </div>
    </div>
</div>

{% comment %} select address {% endcomment %}
<div class="container mt-5">
    <img class="edit" src="/assets/img/edit.svg" alt="">
    <div class="main">2. DELIVERY ADDRESS </div>
    <div class="details pb-5">
        <div class="row">
            <div class="col-auto">
                <label for="inputAddress" class="form-label fs-4">Address</label>
            </div>
            <div class="col-auto">
                <form action="{% url 'create_order' %}" id="addr-form" method="POST">
                    {% csrf_token %}
                    <select id="inputAddress" name="addrId" class="form-select">
                        {% for address in addresses %}
                        <option value={{address.id}} data-id={{address.id}}>
                            {{address.get_long_description}}
                        </option>
                        {% endfor %}
                    </select>
                </form>
            </div>
        </div>
        <div class="">
            {% for address in addresses %}
            <div class="addr_all" id="addr_{{address.id}}" style={% if forloop.first %}""{% else %}"display:
                none;"{% endif %}>
                <div class="row">
                    <div class="col-12">
                        <label for="inputFname" class="form-label">Full Name</label>
                        <input disabled type="text" class="form-control" value="{{address.fname}}" id="inputFname"
                            placeholder="Apartment, studio, or floor">
                    </div>
                    <div class="col-12">
                        <label for="inputAddress" class="form-label">Address</label>
                        <input disabled type="text" class="form-control" value="{{address.address}}" id="inputAddress"
                            placeholder="1234 Main St">
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto">
                        <label for="inputCity" class="form-label">City</label>
                        <input disabled type="text" class="form-control" value="{{address.city}}" id="inputCity">
                    </div>
                    <div class="col-auto">
                        <label for="inputZip" class="form-label">Postal Code</label>
                        <input disabled type="text" class="form-control" value="{{address.postal_code}}" id="inputZip">
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="details pb-5">
        <div class="signIn mt-1">
            <a class="link-danger" href="{%url 'add_address'%}">add address </a>
        </div>
    </div>
</div>

{% comment %} ordered products {% endcomment %}
<div class="container mt-5">
    <div class="main">3. ORDER DETAILS </div>
    <div class="details pb-5 text-center">
        {% for item in cart %}
        <div class="row text-start mt-2 item" data-id={{item.product.id}} data-quantity={{item.quantity}} style="border-bottom: 1px solid">
            <div class="col-sm-4 pb-2">
                <a href="{{item.product.get_absolute_url}}">
                    <img src="{{item.product.images.all.0}}" class="img-fluid" alt="">
                </a>
            </div>
            <div class="col-sm-4">
                <div class="ans">
                    <p class="fs-2">{{ item.product.name }}</p>
                </div>
                <div>
                    <p class="fs-5">Qty-{{ item.quantity }} X Rs. {{item.product.price}}</p>
                </div>
                <div class="ans">
                    <p class="fs-5">Price-{{ item.total_price }}</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div>
                    <p class="fw-bold">Delivery update in 5 days</p>
                </div>
            </div>
        </div>
        {% endfor %}
        <form id="order-form" action="{% url 'create_order' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="addrId" value={{address.id}}>
            <button type="submit" data-addrId="{{address.id}}" id="order-btn" class="continue mt-2">Continue</button>
        </form>
    </div>
</div>

{% comment %} payment {% endcomment %}
<div class="container mt-5">
    <div class="main">4. PAYMENT DETAILS </div>
</div>
{% endblock body%}
{% block js %}
<script>
    let createOrderUrl = "{% url 'create_order' %}"
</script>
<script>
    let selectAddr = document.getElementById('inputAddress')
    let adrElms = document.getElementsByClassName('addr_all')
    selectAddr.addEventListener('change', (e) => {
        // console.log(e);
        for (let i = 0; i < adrElms.length; i++) {
            adrElms[i].style["display"] = "none";
            // console.log(adrElms[i])
        }
        let id = e.target.value;
        // console.log(id)
        if (id) {
            let targetElm = document.getElementById('addr_' + id)
            targetElm.style["display"] = "block";
        }
    })
</script>
<script src="{% static 'payment/js/details.js' %}"></script>
{% comment %} <script src="https://checkout.razorpay.com/v1/checkout.js"></script> {% endcomment %}
{% comment %} <script src="{% static 'payment/js/razorpay.js' %}"></script> {% endcomment %}
{% endblock js %}