{% extends 'base.html' %}
{% load static %}
{% block title %}
Order Details
{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'payment/css/gateway.css' %}">
<link rel="stylesheet" href="{% static 'payment/css/order_track.css' %}">
{% endblock css %}
{% block body %}
<div class="prod_sec_header">
    <div class="head_top"></div>
    <div class="header">Order Details</div>
    <div class="head_bottom"></div>
</div>

<div class="container mt-5">
    <img class="edit" src="/assets/img/edit.svg" alt="">
    <div class="main">DELIVERY ADDRESS <img class="check" src="/assets/img/check.svg" alt=""></div>
    <div class="details pb-5">
        <div class="addr_all" id="addr_{{order.address.id}}">
            <div class="row">
                <div class="col-12">
                    <label for="inputFname" class="form-label">Full Name</label>
                    <input disabled type="text" class="form-control" value="{{order.address.fname}}" id="inputFname"
                        placeholder="Apartment, studio, or floor">
                </div>
                <div class="col-12">
                    <label for="inputAddress" class="form-label">Address</label>
                    <input disabled type="text" class="form-control" value="{{order.address.address}}" id="inputAddress"
                    placeholder="1234 Main St">
                </div>
            </div>
            <div class="row">
                <div class="col-auto">
                    <label for="inputCity" class="form-label">City</label>
                    <input disabled type="text" class="form-control" value="{{order.address.city}}" id="inputCity">
                </div>
                <div class="col-auto">
                    <label for="inputZip" class="form-label">Postal Code</label>
                    <input disabled type="text" class="form-control" value="{{order.address.postal_code}}"
                    id="inputZip">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label for="inputPhoneNo" class="form-label">Full Name</label>
                    <input disabled type="text" class="form-control" value="{{order.address.fname}}" id="inputPhoneNo"
                    placeholder="Apartment, studio, or floor">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="main">ORDER ITEMS</div>
    <div class="details pb-5 text-center">
        {% for item in order.items.all %}
        <div class="row text-start mt-2" style="border-bottom: 1px solid">
            <div class="col-sm-4 col-md-6 pb-2">
                <img src="{{item.product.get_primary_img}}" class="img-fluid" alt="">
            </div>
            <div class="col-sm-auto ">
                <div class="">
                    <p class="fs-3">{{ item.product.name }}</p>
                </div>
                <div>
                    <p class="fs-5 text-muted">Qty-{{ item.quantity }} X Rs. {{item.price}}</p>
                </div>
                <div class="ans">
                    <p class="fs-5">₹ {{ item.sub_total }}</p>
                </div>
            </div>
            <div class="col-sm-auto">
                <div>
                    <p class="fw-bold">Delivery update in  days</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="container mt-5 mb-5">
    <div class="main">PAYMENT DETAILS </div>
    <div class="p-4">
        {% if order.paid %}
        <h3>already paid</h3>
        <h4 class="mt-2">Transactions :</h4>
        <div class="row">
            {% for transaction in transactions.all %}
            <div class="col">{{transaction}}</div>
            <div class="col">{{transaction.timestamp|time}}</div>
            {% endfor %}
        </div>
        {% else %}
        <button data-addrId={{order.address.id}} id="order-btn" class="mx-auto continue mt-2">Continue to Pay</button>
        {% endif %}
    </div>
</div>

{% if order.paid %}
<div class="container col-sm-6">
    <div class="text-center d_name mt-1 mb-2">Order Tracking</div>
    <div>
        <span class="dot done1"></span>
        <div class="tra_box done3">
            <div class="t_name done">Ordered</div>
            <div class="t_summary">{{ order.created }}</div>
        </div>
    </div>
    <div>
        <span class="dot" id='ship-dot'></span>
        <div class="tra_box" id='ship-line'>
            <div class="t_name" id='ship-name'>Shipped</div>
            <div class="t_summary" id='shipped'>
            </div>
        </div>
    </div>
    <div>
        <span class="dot" id='out-dot'></span>
        <div class="tra_box" id='out-line'>
            <div class="t_name" id='out-name'>Out for Delivery</div>
            <div class="t_summary" id="out-for-delivery"></div>
        </div>
    </div>
    <div>
        <span class="dot" id='delivery-dot'></span>
        <div class="tra_box" id='delivery-line'>
            <div class="t_name" id='delivery-name'>Delivered</div>
            <div class="t_summary" id='delivered'></div>
        </div>
    </div>
    
</div>
{% endif %}

{% endblock body%}
{% block js %}
{% if order.paid %}
{% else %}
<script>
    let createOrderUrl = "{% url 'create_order' %}";
</script>
<script>
    let redirectUrl = "{% url 'rp_callback' %}";
</script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script src="{% static 'payment/js/razorpay.js' %}"></script>
{% endif %}
{% endblock js %}