{% extends 'mail/base.html' %}

{% block body %}
    <h3>Authentication for Forgot Password</h3>
    <div class="mail-text">
        HI,
        <br><br><br>
        Greetings!
        <br><br><br>
        Thank you for creating a customer account at Panaya.
        <br><br><br>
        We are excited to have you, but first you need to confirm your account by clicking on the below tab to
        verify your email address.
        <br><br><br>
        If you need help with anything, please do not hesitate to contact us at ____
        <br><br><br><br>
        Thank you,
        Team Panaya
    </div>
{% endblock %}