{% extends 'base.html' %} {% load static %} {% block title %} {{ product.name }}
{% endblock title %} {% block css %}
<link rel="stylesheet" href="{% static 'products/css/product.css' %}" />
<style>
  .outof-stock{
  }
  .outof-stock>h3{
    z-index: 0;
    position: absolute;
    right: 0;
    width: fit-content;
    transform: rotateZ(45deg);
    background-color: #8d0020;
    color: rgba(255, 206, 118, 0.86);
  }
  

@media only screen and (min-width: 567px){
  .main_product_img {
      position: relative;
      overflow: hidden;
      cursor: zoom-in;
   }
    .img_producto {
      position: absolute;
      width:100%;
      top: 0;
      left: 0;
      transition: transform 0.5s ease-out;
    }
}
@media only screen and (max-width: 567px){
    .img_producto{
        width: 100% ;
        transform: none !important;
    }
}
</style>
{% endblock css %}
{% block body %}

<section id="heading" class="section-heading">
  <img src="{% static 'pages_static/images/section-heading-decor.png' %}" alt="" />
  <h1>Product Section</h1>
  <img class="flip-horizontal" src="{% static 'pages_static/images/section-heading-decor.png' %}" alt="" />
</section>


<section id="product" class="container-lg mt-5">
  <div class="row">
    <div class="col-md-7">
      <div class="container-fluid m-1">
        <div class="row">
            <div class="col-12 col-sm-4 d-sm-block d-flex order-1 order-sm-0" style="overflow-y: auto" id="select-img-container">
            {% for img in product.images.all %}
            <img src="{{img}}" style="cursor: pointer" class="img-fluid m-1" alt=""
              onclick="setActiveProductImg(event)" />
            {% endfor %}
          </div>
          <div class="col-12 col-sm-7 offset-sm-1 order-0 order-sm-1 main_product_img " data-scale="1.6">
            <img src="{{product.images.all.0}}" alt="product"
              class="dslc-lightbox-image img_producto" id="active-product-img" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5 text-center">
      <h2 class="text-sp-red">{{ product.name }}</h2>
      <h3 class="text-secondary">Rs. {{product.price}}</h3>
      <div class="d-flex justify-content-center">
          <div class="number-input ">
            <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"></button>
            <input form="buynow-form" class="quantity" id="quantity" min="0" name="quantity" value="1" type="number" />
            <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
          </div>
      </div>
      <p class="fw-light mt-1 mb-0">Only {{product.stocks}} piece in stock</p>
      <p class="fw-light mt-0 pt-0">Size : {{product.dimentions}}</p>
      <p>{{product.short_description|safe}}</p>
      <div class='row mt-3 mx-auto'>
          <div class='col-sm-6'>
              <button class="btn st-btn-outline-red my-2" onClick="addToCart(event)" data-bs-toggle="modal"
                data-bs-target="#cartModal" data-id="{{product.id}}" data-name="{{product.name}}" data-price="{{product.price}}"
                dat-stock="{{product.stock}}" data-img="{{product.images.all.0}}">
                Add to your trunk
              </button>
          </div>
          <div class='col-sm-6'>
              <form action="{% url 'buy_now' product.id %}" method="POST" id="buynow-form">
                {% csrf_token %}
                <button type="submit" class="btn styled-btn-filled my-2">Buy Now</button>
              </form>
          </div>
      </div>
    </div>
  </div>
</section>
<section id="info" class="container-lg mt-5">
  <ul class="nav">
    <li class="nav-item">
      <h5 class="tab-parent active" onclick="changeTab(event)" data-target="description" href="#">
        Description
      </h5>
    </li>
    <li class="nav-item">
      <h5 class="tab-parent" onclick="changeTab(event)" data-target="reviews" href="#">
        Reviews
      </h5>
    </li>
    <li class="nav-item">
      <h5 class="tab-parent" onclick="changeTab(event)" data-target="qa" href="#">
        Question and Answer
      </h5>
    </li>
    {% comment %} <li class="nav-item">
      <h5 class="tab-parent" onclick="changeTab(event)" data-target="care" href="#">
        Care
      </h5>
    </li> {% endcomment %}
  </ul>
  <div class="tab" id="qa" style="display: none">
    <div class="container-lg my-2">
      {% for faq in faqs.all %}
      <div class="row">
        <div class="row">
          <p class="mb-0 text-sp-red">{{faq.question}}</p>
        </div>
        <div class="row">
          <div class="">{{faq.answer|safe}}</div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="tab" id="description">{{product.description|safe}}</div>
  <div class="tab" id="reviews" style="display: none">
    <div class="conainer-lg my-2" style="width: 100%">
      <div class="owl-carousel owl-theme">
        {% for review in product.reviews.all %}
        <div class="item">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-auto">
                  <div class="usr-img">JL</div>
                </div>
                <div class="col">
                  <h5 class="card-title fw-bold">{{review.user}}</h5>
                  <div class="stars">
                    <div class="stars-pos">
                      {{review.get_rating_stars.0|safe}}
                    </div>
                    <div class="stars-neg">
                      {{review.get_rating_stars.1|safe}}
                    </div>
                  </div>
                  <p class="card-text fw-light">{{review.body}}</p>
                  <div class="card-footer d-flex justify-content-between">
                    <div class="d-flex align-items-center justify-content-center">
                      <div class="me-2">
                        <img class="usr-img" src="https://static.panaya.in/media/{{review.user.get_profile_pic}}" alt="" />
                      </div>
                      <p>
                        {{review.user}}<span class="fw-light">
                          • {{review.timestamp|timesince}}</span>
                      </p>
                    </div>

                    <p>+</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="tab" id="care" style="display: none">
    {{product.care|safe}}
  </div>
</section>

<section id="recommendations" class="container-lg mt-5 mb-5">
  <h1 class="text-center text-sp-red my-4">You may also like</h1>
  <div class="row g-2 g-md-5 row-cols-1 row-cols-md-3">
    {% for product in related %}
    <div class="col">
      <a href="{% url 'product_detail' product.id %}">
        <img class="img-fluid" src="{{product.images.all.0}}" alt="" />
      </a>
      <a href="{% url 'product_detail' product.id %}">
        <h2 class="mt-2 text-sp-red">{{product}}</h2>
      </a>
      <p class="fs-4 fw-bold">Rs. {{product.price}}</p>
    </div>
    {% endfor %}
  </div>
</section>
<!-- CART POP UP -->
<div class="modal fade" id="cartModal" tabindex="-1" aria-labelledby="cartModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="margin: 0rem 0rem 0rem auto">
    <div class="modal-content">
      <div id="pop">
        {% comment %} <div style="float: right" data-bs-dismiss="modal" aria-label="Close"> {% endcomment %}
          {% comment %} </div> {% endcomment %}
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="txt-sp-yellow text-center">
                <h2>Cart</h2>
              </div>
            </div>
            <div class="col-auto">
              <i class="cross fas fa-times-circle mt-1 me-1" data-bs-dismiss="modal" aria-label="Close"></i>
            </div>
          </div>

          <div class="container mt-3" id="cart-container"></div>
        </div>
        <div class="text-end">
          <a class="me-2 text-white text-decoration-underline" href="{% url 'cart' %}" id="plus-items"></a>
        </div>
        <div class="my-1 cart_hr"></div>
        <h4 class="txt-sp-yellow text-center">
          Sub Total - <span id="cart-total"> Rs. 0</span>
        </h4>
        <div class="my-1 cart_hr"></div>
        <div class="view_c mt-2"> <a class="link-light" href="{% url 'cart' %}">View Cart</a> </div>
        <a href="{% url 'create_order' %}">
          <div class="checkout mt-2"> Checkout </div>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block js %}
<!-- jquery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
  integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- owl carousel -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
  integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
  integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
  integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
{% comment %} <script>
  $(".owl-fw-carousel").owlCarousel({
    loop: true,
    margin: 10,
    nav: true,
    responsive: {
      0: {
        items: 1,
      },
    },
  });
  $(".owl-carousel").owlCarousel({
    // loop: true,
    margin: 10,
    nav: true,
    responsive: {
      0: {
        items: 1,
      },
      800: {
        items: 2,
      },
      1200: {
        items: 3,
      },
    },
  });
</script> {% endcomment %}
<script src="{% static 'products/js/product.js' %} "></script>
<script src="{% static 'products/js/cart_popup.js' %} "></script>
<script>
    $(".main_product_img ")
    // tile mouse actions

    .on("mouseover", function () {
    $(this)
        .children(".img_producto")
        .css({ transform: "scale(4)" });
    })
    .on("mouseout", function () {
    $(this).children(".img_producto").css({ transform: "scale(1)" });
    })
    .on("mousemove", function (e) {
    $(this)
        .children(".img_producto")
        .css({
        "transform-origin":
            ((e.pageX - $(this).offset().left) / $(this).width()) * 100 +
            "% " +
            ((e.pageY - $(this).offset().top) / $(this).height()) * 100 +
            "%"
        });
    });
</script>
{% endblock js %}


{% comment %}
<div class="product-detail">
  <h1>{{ product.name }}</h1>
  <h2>
    <a href="{{ product.category.get_absolute_url }}">
      {{ product.category }}
    </a>
  </h2>
  <p class="price">&#8377; {{ product.price }}</p>
  <form action="{% url 'cart_add' product.id %}" method="post">
    {{ cart_product_form }} {% csrf_token %}
    <input type="submit" value="Add to cart" />
  </form>
  {{ product.description|linebreaks }}
</div>
{% endblock %} {% endcomment %}