body {
  background: #ffefd1;
}

a {
  text-decoration: none !important;
}

.txt-sp-yellow {
  color: #f49d37eb;
}

.page-link {
  color: black;
  cursor: pointer;
}

#info .nav .nav-item {
  color: #8d0020;
  margin: 0 1rem;
}

#info .nav .nav-item .active {
  border-bottom: 2px solid #8d0020;
}

#cartModal .modal-dialog,
#cartModal .modal-content {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#pop {
  background: #8d0020;
  background-image: url("/static/productImages/cart-bottomleft.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position-x: 0%;
  background-position-y: 100%;
  width: 300px;
  height: 100vh;
}

#pop .cart {
  font-size: 50px;
  margin-top: 100px;
  font-family: Poppins;
  font-style: normal;
  color: #f49d37eb;
  font-weight: bolder;
  text-decoration: underline;
}

#pop .cross {
  color: rgba(244, 157, 55, 0.97);
  background-color: transparent;
  font-size: 3vw;
}

#pop .cart_img {
  width: auto;
  height: 200px;
  background: url("/assets/img/productImages/21-oct6667_std.jpg");
  background-position: center;
  background-size: cover;
}

#pop .cart_head {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 22.7735px;
  line-height: 79px;
  color: #fbfbfb;
}

#pop .cart_p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 54px;
  color: #ffffff;
}

#pop .cart_q {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 54px;
  color: #ffffff;
}

#pop .cart_hr {
  background-color: #f49d37;
  height: 5px;
}

#pop .sub_title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 96px;
  color: #f49d37;
}

#pop .view_c {
  border: 5px solid #f49d37;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  width: 70%;
  margin-left: 15%;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 25.7735px;
  line-height: 45px;
  text-align: center;
  color: #f49d37;
}

#pop .checkout {
  background: #f49d37;
  border-radius: 10px;
  width: 70%;
  margin-left: 15%;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 25.7735px;
  line-height: 45px;
  text-align: center;
  color: #8d0020;
  margin-bottom: 50%;
}

/* RESPONSIVE */
#product input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

#product input[type="number"]::-webkit-inner-spin-button,
#product input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

#product .quantity {
  background: none;
  border: none;
}

#product .number-input {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  border: 3px solid #8d0020;
}

#product .number-input,
#product .number-input * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#product .number-input button {
  outline: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  margin: 0;
  position: relative;
}

#product .number-input button:before,
#product .number-input button:after {
  display: inline-block;
  position: absolute;
  content: "";
  width: 1rem;
  height: 2px;
  background-color: #212121;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#product .number-input button.plus:after {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
  transform: translate(-50%, -50%) rotate(90deg);
}

#product .number-input input[type="number"] {
  font-family: sans-serif;
  max-width: 5rem;
  padding: 0.5rem;
  font-size: 1.8rem;
  height: 3rem;
  font-weight: bold;
  text-align: center;
}

#active-product-img,
#select-img-container {
  height: 520px;
}

@media (max-width: 768px) {
  #active-product-img,
  #select-img-container {
    height: 250px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  #active-product-img,
  #select-img-container {
    height: 320px;
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  #active-product-img,
  #select-img-container {
    height: 450px;
  }
}
/*# sourceMappingURL=product.css.map */