body{
    margin: 0;
    padding: 0;
    font-family: sans-serif,Poppins;
    background-image: url("/static/user_manager/images/login_bg_image.png");
    background-size: cover;
    background-position: center;
    box-sizing: border-box; 
    
}
.container{
    padding-top: 30%;
    padding-left: 10%;
    font-size: 40px;
    color: #fff;
    font-family: 'Peignot','Analogue';
    font-style: normal;
    line-height: .1%;
    float: left;
    text-align: center;
}
.container img{
    margin-top:0;
    margin-bottom: -17%;
    width: 60%;
    height: 100%;
}
.container img::before{
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(225deg,#e91e63,#03a9f4);
    z-index: 1;

}

.sign-in-form{
    width: 100%;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.3);
    background: #fff;
    padding: 20px;
    margin: 5% 4% 5% 3%;
    text-align: center;
    float: right;
    padding-bottom: 1%;
    border-radius: 5px;
    max-width: 500px;
  
}

.sign-in-form h1{
    text-align: left;
    margin-top: 1%;
}

.entry{
    box-sizing: border-box;
    padding: 10px;
    margin: 10px 10px 0 0;
    width: 95%;
    border:  #bdbdbd;
    margin-top: 2%;
    border-bottom:  1px solid #bdbdbd;
    outline: none;
    margin-bottom: 20px;
}

button{
    color: #fff;
    width: 90%;
    padding: 2%;
    border-radius: 10px;
    font-size: 15px;
    margin: 1% 0;
    border: none;
    outline: none;
    cursor: pointer;
    letter-spacing: .8px;
    word-spacing: .1px;
}

#buttons{
    display: flex;
    justify-content: space-between;
}

#buttons a{
    text-decoration: none;
    background: #2F80ED;
    color: #fff;
    border-radius: 10px;
    width: 45%;
    height: 6vh;
    max-height: 8vh;
    padding-top: 3%;
    margin-top:auto;
}

.continue{
    background: #2F80ED;
    width: 45%;
    height: 8vh;
    max-height: 8vh;
}

.signup-google{
    background: #fff;
    border: 1px solid #828282;
    border-radius: 5px;
    color: #000000;
}
a{
    text-decoration: none;
}
hr{
    margin-top: 80px;
    color: #00000042;
}
.or{
    background: #fff;
    width: 30px;
    margin: -19px auto 10px;
}
.fa-google{
    font-size: 100%;
}

#signup-facebook{
    background: #2F80ED;
    border-radius: 5px;
}
#signup-apple{
    background: #000000;
    border-radius: 5px;
}
.sign-in-form > form:nth-child(1) > p:nth-child(2) {
    text-align: left;
    margin-top: -2%;
   }
   


@media all and (max-width:1030px)   {
    .container{
        padding-left: 4%;
    }
    .sign-in-form{
        margin-left: 2%;
    }
}

@media all and (max-width:951px )   {
    .container{
        padding-left: 1%;
    }
}

@media all and (max-width:940px )   {
    .container{
        padding-left: 2%;
        font-size: 30px;
    }
    .sign-in-form{
        max-width: 440px;
    }
}

@media all and (max-width:760px )   {
    .container{
        padding-left: 0;
        padding-top: 0;
        float: none;
    }
    .sign-in-form{
        padding-bottom: 0;
        min-width: 250px;
        float: none;
        margin: 5% auto;
        max-width: 500px;
    }
    .container img{
        margin-top: 0;
        margin-bottom: -13%;
        width: 50%;
    }
}
@media all and (max-width:580px)   {
    .container{
        font-size: 30px;
        float: none;
        padding-left: 4%;
        padding-top: 0;
        padding-bottom: 2%;
    }
    .sign-in-form{
        max-width: 300px;
        float: none;
        margin: 5% auto;
        padding-bottom: 7%;
    }
}
@media all and (max-width:320px){
    .sign-in-form{
        max-width: 250px;
    }
}

.otc {
	position: relative;
	width: 320px;
	margin: 0 auto;
}

.otc fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}

.otc fieldset div {
	display: flex;
	align-items: center;
}

.otc legend {
	margin: 0 auto 1em;
	color: #5555FF;
}

input[type="number"] {
	width: .82em;
	line-height: 1;
	margin: .1em;
	padding: 8px 0 4px;
	font-size: 2.65em;
	text-align: center;
	appearance: textfield;
	-webkit-appearance: textfield;
	border: 2px solid #BBBBFF;
	color: purple;
	border-radius: 4px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* 2 group of 3 items */
input[type="number"]:nth-child(n+4) {
	order: 2;
}
.otc div::before {
	content: '';
	height: 2px;
	width: 24px;
	margin: 0 .25em;
	order: 1;
	background: #BBBBFF;
}

/* From: https://gist.github.com/ffoodd/000b59f431e3e64e4ce1a24d5bb36034 */
.otc label {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
	clip-path: inset(50%) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}