{% extends 'base.html' %}
{% load static %}

{% block title %}Blog | {{blog.title|truncatewords:10}}{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'blogs/blogs.css' %}">
<style>
    .row{
        width:100%;
    }
    @media only screen and (max-width: 700px){
        .m_blog_img{
            margin-top: -5rem !important;
        }
    }
</style>
{% endblock css %}

{% block body %}
<section class='story'>
    <div class="align-center1 section-heading">
        <img src="{% static 'pages_static/images/section-heading-decor.png'%}" alt="" />
        <h2>Blogs</h2>
        <img class="flip-horizontal" src="{% static 'pages_static/images/section-heading-decor.png'%}" alt="" />
    </div>
</section>

<section id="decor">
    <div class="container-md my-5">
        <div class="row g-5">
            <div class="col-md-4">
                <div class="text-center d-none d-md-block">
                    <img class="img-fluid" src="{% static 'blogs/Rectangle 336.png' %}" alt="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-center m_blog_img" style="margin-top:10rem;">
                    <img class="img-fluid" src="{% static 'blogs/Rectangle 337.png' %}" alt="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-center d-none d-md-block" style="margin-top:20rem;">
                    <img class="img-fluid" src="{% static 'blogs/Rectangle 338.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="tag-line" class="container-lg mt-5">
    <h3 style="font-weight : 400 !important;" class="text-center">The simplest Indian outfits never go out of style. They're elegant, classy, and make an Indian girl look more glam than any western dress.</h3>
</section>

<section id="blogs" class="my-5">
    <div class="container-lg">
        <div class="row g-2 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 justify-content-center">
            {% for blog in blogs %}
            <div class="col">
                <div class="card mx-auto" style="max-width: 20rem;">
                    <div class="card-body">
                        <img
                            src="{{blog.image.url}}"
                            class="card-img-top"
                            alt=""
                        />
                        <h5 class="card-title">{{blog.title}}</h5>
                        <div class="text-muted d-flex justify-content-between">
                            <p class="text-muted">{{blog.date | timesince}} ago</p>
                            <p> <i class="far fa-eye"></i> {{blog.views}}</p>
                        </div>
                        <div class="card-text" style="max-height:20rem; overflow:hidden">
                            {{blog.content|striptags|truncatewords:40|safe}}
                        </div>
                        <a href="{% url 'blog' blog.id %}">... Continue Reading</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script>
    $.ajax({
        url: "{% url 'increase_blog_count' %}",
        type: "GET",
        success: function(response) {
            // console.log(response);
        }
      });
</script>
{% endblock body %}
