@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Corinthia:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Header Part */
header {
  background: url("/static/pages_static/images/about/nav bg.png");
  color: #fff;
  padding: 20px;
  font-size: 1.2rem;
}

h2 {
  color: #670017;
}

#nav {
  padding-bottom: 0;
}

nav a {
  text-decoration: none;
  color: #ffe65c;
  padding: 0 9%;
  margin-bottom: 1%;
  margin-top: 7%;
}

a:hover {
  color: #e0bc1b;
}

nav div {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 10px;
}

.middle {
  color: #FFCE76;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.middle h2 {
  color: #FFCE76;
  font-family: 'Playfair Display', serif;
  font-size: 3.5rem;
}

.middle p {
  font-family: 'Corinthia', cursive;
  font-size: 1.5rem;
}

/* Main Body Part */
.story {
  font-family: 'Playfair Display', serif;
}

#story-header {
  font-size: 2.5em;
  font-weight: bold;
  margin: 2%;
  text-align: center;
}

.about-image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-1-3 {
  padding: 4%;
  background: url("/static/pages_static/images/about/a_pg_bg.png");
}

#about-image {
  padding: 5%;
  width: 90%;
}

.align-center1 {
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.award-container {
  padding: 1%;
}

.text {
  font-size: 1.2em;
  padding: 5%;
}

.award-image {
  width: 80%;
}

.col-text {
  font-size: 1.4em;
  padding: 5%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-2-4 {
  padding: 4%;
  background: url("/static/pages_static/images/about/golden_leaves.png");
}

.boat-image {
  padding: 0 5%;
  width: 100%;
}

.women-image {
  padding: 2% 4%;
}

.vector {
  position: relative;
  font-size: 1.3rem;
}

.vector img {
  width: 100%;
}

#text-1 {
  position: absolute;
  top: 40%;
  left: 14%;
  text-align: center;
  color: #FFCE76;
}

#text-2 {
  position: absolute;
  top: 50%;
  left: 47%;
  text-align: center;
  color: #BA002A;
}

#text-3 {
  position: absolute;
  top: 50%;
  left: 25%;
  text-align: center;
  color: #FFCE76;
}

#section-4 {
  padding: 0;
}

#man-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#wrapper-image {
  margin: 0 3%;
}

.section-heading {
  background: url("/static/pages_static/images/section-heading-bg.png");
  margin: 0;
  padding: 0;
}

#post h1 {
  font-size: 2rem;
  padding: 1%;
}

#post h5 {
  padding-bottom: 1%;
}

#blog-image {
  width: 100%;
  max-width: 100%;
}

#blog-image img {
  width: 70%;
}

#blog-text {
  padding: 4%;
}

#blog-like-comment-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 5%;
}

#blog-like-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

#all-comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blog-icons {
  margin: 0 2%;
  color: #F49D37;
}

#other-blogs {
  margin: 5% auto;
}

.other-blogs {
  padding: 1%;
}

.other-blogs:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.other-blogs img {
  width: 100%;
  max-height: 20vh;
}

.other-blogs-wrapper {
  /* border shadow */
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
}

.other-blogs-text-wrapper {
  padding: 3% 5%;
}

.title {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 2% 0;
}

.date-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.3rem;
  padding: 2% 0;
}

.other-blogs-text {
  font-size: 1rem;
  font-weight: 600;
}

.blog-read-button {
  color: #414141;
  padding: 0 1%;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .other-blogs {
    width: 70%;
    margin: 0 auto;
  }
  #blog-like-comment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 20px;
  }
  #blog-like-comment-post {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #post-button-btn {
    margin: 0 auto;
  }
}

.style-button {
  color: #888;
  font-family: "Heebo", sans-serif;
  background-color: transparent;
  border: 0.1em solid;
  border-radius: 1em;
  padding: 0.333em 1em 0.25em;
  line-height: 1.2em;
  -webkit-box-shadow: 0 0.25em 1em -0.25em;
          box-shadow: 0 0.25em 1em -0.25em;
  cursor: pointer;
  -webkit-transition: color 150ms ease-in-out, background-color 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
  transition: color 150ms ease-in-out, background-color 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
  transition: color 150ms ease-in-out, background-color 150ms ease-in-out, transform 150ms ease-in-out;
  transition: color 150ms ease-in-out, background-color 150ms ease-in-out, transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
  outline: 0;
  margin: 0 1%;
  width: 17ch;
  height: 7vh;
}

.style-button:hover {
  color: #F49D37;
}

.style-button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.style-button.selected {
  color: #FFF;
  background-color: #F49D37;
  border-color: #F49D37;
}

.style-button .heart-icon {
  display: inline-block;
  fill: currentColor;
  width: 0.8em;
  height: 0.8em;
  margin-right: 0.2em;
}

#post-button-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Footer */
footer {
  background: #8D0020;
  color: #FFCE76;
  padding: 3%;
}

footer a {
  text-decoration: none;
  color: #FFCE76;
}

.footer-left {
  margin-top: 11%;
  padding: 1%;
}

.icons {
  height: 20px;
  width: 20px;
}

.footer-about {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
}

footer h2 {
  color: #FFCE76;
}

.btn-warning {
  color: #8D0020;
  background-color: #FFCE76;
}

#decor {
  width: 100vw;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, transparent), color-stop(50%, #8D0020));
  background: linear-gradient(0deg, transparent 50%, #8D0020 50%);
}
/*# sourceMappingURL=blogs.css.map */

@media only screen and (max-width: 700px){
    .m_blog_img{
        margin-top: -5rem;
    }
}