{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sign in{% endblock title %}</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="{% static 'user_manager/css/styles.css' %}" rel="stylesheet">
    {% block css %}{% endblock css %}
</head>
<body>
    <div class="container">
        <img src="{% static 'user_manager/images/crown.png' %}">
        <h1>PANAYA</h1>
    </div>
    {% block body %}{% endblock body %}
    <script>
        {% block js %}{% endblock js %}
    </script>
</body>
</html>